.material-icons {
    color: #219ebc;
}

.col-5 p{
    line-height: 30px;
    margin-bottom: 26px;
}

.col-5 .btn{
    padding: 10px 36px;
}

.col-5 h2{
    color: #219ebc;
}

#titulo-carrossel {
    color: #fb6f92;
}