.material-icons {
    color: #219ebc;
}

#como-funciona p{
    line-height: 30px;
    margin-bottom: 26px;
}

#como-funciona .btn{
    padding: 10px 36px;
}

#como-funciona h2{
    color: #219ebc;
}

#titulo-carrossel {
    color: #fb6f92;
}